@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "联系我们";
}
<a href="MdmRemoteControl://justsy%2520427643%25209F260C9A23C346FC12D739B519615C2B" target="_blank">
    远程协助
</a>