@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "联系我们";
}
<div>
    <div class="panel panel-default">
        <div class="panel-heading"><h1><strong>联系我们</strong></h1></div>
        <div class="panel-body">
            <div class="list-group">
                    <h4 class="list-group-item-heading"><strong>To 淘宝买家</strong></h4>
                    <p class="list-group-item-text text-left lead">
                        &nbsp;&nbsp;&nbsp;本站为个人小打小闹做的一个网址，网站首页主要是一个淘宝优惠券网站，做这个网站也是一时兴起。
                        看到好多人在发优惠券淘宝连接，然后自己也去研究了一下，发现自己也确实可以做到。淘宝的优惠券，
                        可以节省的金额大小不等，都需要自己去努力的淘宝。而本站就是为了提供这么一个方便快捷的功能，
                        将带有优惠券的淘宝图片、金额和大小都集中在一起，大家方便快捷的找到分类，然后根据图片，找到
                        自己想要的淘宝宝贝，既可以节省时间，又可以少花钱买到需要的淘宝宝贝，何乐而不为呢？
                    </p>
                </div>
            
                <div class="list-group">
                    <h4 class="list-group-item-heading"><strong>To 淘宝客</strong></h4>
                    <p class="list-group-item-text text-left lead">
                        &nbsp;&nbsp;&nbsp;淘宝数据采集是本站为淘宝客准备的数据采集功能，目前还未开发到处文件功能，因为不同的需要的数据会
                        有差异，各位淘宝客在看到这片内容的时候，请加入如下QQ群，站长会免费帮你搞定。
                    </p>
                </div>
                <p class="social-qq">
                    <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=83aed201276e6c61ff87dcfcb87ab54b4319d7afa3e5ebf2c793b40d4fb08877"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="淘宝联盟-分享-赚互点" title="淘宝联盟-分享-赚互点"></a>
                </p>
            <p class="lead">
                <strong><i class="fa fa-qq "></i>QQ交流群：585143776</strong>
            </p>
            </div>
    </div>
    
    <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    @*<script src="https://cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>*@
    <textarea name="editor1"></textarea>
    <script>
        
        //CKEDITOR.plugins.addExternal('abbr', '/myplugins/abbr/', 'plugin.js');
        CKEDITOR.replace('editor1');
    </script>

    
</div>