@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "联系我们";
}
<div>
    <h2>联系我们</h2>

    <p class="social-qq"> 
        <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=83aed201276e6c61ff87dcfcb87ab54b4319d7afa3e5ebf2c793b40d4fb08877"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="淘宝联盟-分享-赚互点" title="淘宝联盟-分享-赚互点"></a>
    </p>
    <i class="fa fa-qq"></i>QQ交流群：585143776
</div>