@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "写文章";
}

<script src="/js/jquery.min.js" asp-append-version="true"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
<script src="/js/modal.js" asp-append-version="true"></script>
<script src="/js/angular.min.js" asp-append-version="true"></script>
<script src="/js/ui-bootstrap-tpls-2.1.4.min.js" asp-append-version="true"></script>
<script src="/js/jquery.custom.msgbox.js" asp-append-version="true"></script>
<script src="/lib/ckeditor/ckeditor.js" asp-append-version="true"></script>
<div ng-app="alchemyApp" ng-controller="articleController">
    <p></p>
    <input type="text" ng-model="model.title" class="form-control" placeholder="请输入文章标题" />
    <p></p>
    <div id="editor">

    </div>
    <p></p>
    <div>
        <input type="button" class="btn btn-primary col-md-offset-4 col-md-4" ng-click="save()" value="保存" />
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace('editor');
    CKEDITOR.config.height = 500;
    CKEDITOR.config.extraPlugins = 'uploadimage';
    var app = angular.module('alchemyApp', ['ui.bootstrap']);
    app.controller('articleController', function ($scope, $http) {
        //$scope.model = null;

        $http.get('/article/get/' + '@ViewData["id"]').success(function (response) {
            console.log(response.data);
            $scope.model = response.data;
            CKEDITOR.instances["editor"].setData(response.data.content);
        }).error(function (response) {
            $.MsgBox.Alert("温馨提示", response.message);
        });

        $scope.save = function () {
            console.log($scope.model);
            if ($scope.model == null) {
                $.MsgBox.Alert("温馨提示", "请填写信息！");
                return;
            }
            if ($scope.model.title == null) {
                $.MsgBox.Alert("温馨提示", "请填写标题！");
                return;
            }
            $scope.model.content = CKEDITOR.instances["editor"].getData();
            if ($scope.model.content == null) {
                $.MsgBox.Alert("温馨提示", "请填写内容！");
                return;
            }
            console.log($scope.model);
            if ($scope.model.id == null || $scope.model.id.length == 0) {
                $scope.model.authorId = '@ViewData["userId"]';
                $http.post('/article/post', $scope.model).success(function (response) {
                    if (response.status == 0) {
                        $.MsgBox.Alert("温馨提示", "新增成功！");
                    } else {
                        $.MsgBox.Alert("温馨提示", response.message);
                    }
                    console.log(response);
                }).error(function (response) {
                    console.log(response);
                    $.MsgBox.Alert("温馨提示", response.message);
                });
                return;
            }
            $http.put('/article/put', $scope.model).success(function (response) {
                if (response.status == 0) {
                    $.MsgBox.Alert("温馨提示", "修改成功！");
                    window.location.href = "/article/index";
                } else {
                    $.MsgBox.Alert("温馨提示", response.message);
                }
                console.log(response);
            }).error(function (response) {
                console.log(response);
                $.MsgBox.Alert("温馨提示", response.message);
            });
            
        }
    });
</script>