@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- BEGIN Register FORM -->
<form class="login-form" ng-app="registerApp" ng-controller="userRegisterCtrl">
    <div class="form-title">
        <span class="form-title">欢迎使用，</span>
        <span class="form-subtitle">请登陆.</span>
    </div>
    @*ng-show="loginForm.Username.$dirty && loginForm.Username.$invalid"*@
    <div class="alert alert-danger display-hide" >
        <button class="close" data-close="alert"></button>
        <span> Enter any username and password. </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">用户账号</label>
        <input ng-model="user.Account" required class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="用户账号" />
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">用户名</label>
        <input ng-model="user.UserName" required class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">登录密码</label>
        <input ng-model="user.SecureCode" required class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="登录密码" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">确认密码</label>
        <input ng-model="user.ConfirmSecureCode" required class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="确认密码" />
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">邮箱</label>
        <input ng-model="user.Email" required class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="邮箱" />
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">联系方式</label>
        <input ng-model="user.PhoneNumber" required class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="联系方式" />
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">用户账号ID</label>
        <input ng-model="user.ShopUserNameId" required class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="用户账号ID" />
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">店铺名称</label>
        <input ng-model="user.ShopTitle" required class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="店铺名称" />
    </div>
    <div class="form-actions">
        <button ng-click="register()" class="btn red btn-block uppercase">注册</button>
    </div>
</form>
<!-- END Register FORM -->
<script src="~/js/angular.min.js" asp-append-version="true"></script>
<script>
    var app = angular.module('registerApp', []);
    app.controller('userRegisterCtrl', function ($scope, $http) {
		    $scope.register = function ()
			{
			    console.log($scope.user);
		        $http.post('/User/Post', $scope.user).success(function (response) {
				    console.log(response);
				    if (response.status == 'success')
				    {
				        alter(response);
							//window.location.href = 'index';
						}else{
							alert(response.message);
						}
					console.log(response);
				}).error(function(response){
					console.log('ERROR:'+response);
					alert(response.message);
				});
			}
		});
</script>