@{
    ViewData["Title"] = "首页";
}

<div ng-app="alchemyApp" ng-controller="imageShowController">
    <div class="search-result-wrap search-result-wrap-block clearfix" p-id="pageList">
        <div class="block-search-box tag-wrap" p-id="733" ng-repeat="item in productItems">
            <div class="pic-box" p-id="734">
                <a class="search-box-img img-loaded" href="{{item.auctionUrl}}" target="_blank" goldclick="true"
                   p-id="735"><span class="empty-icon-bg" p-id="736"></span><img src="{{item.pictUrl}}" p-id="737"></a>
            </div>
            <div class="box-content" _ie_fix_="" mx-mouseenter="showContent()" mx-mouseleave="hideContent()" p-id="738">
                <div class="content-line" p-id="739">
                    <a class="color-m content-title" href="{{item.auctionUrl}}" target="_blank" title="{{item.title}}"
                       goldclick="true" data-spm-click="gostr=/alimama.11;locaid=d5d3d3cdd;itemid=526404708154&amp;pvid=10_61.153.225.150_441_1474180557628&amp;actionid=1000"
                       p-id="740" data-spm-anchor-id="a219t.7900221/10.1998910419.116"><span p-id="742">{{item.title}}</span></a>
                </div>

            </div>
            <div class="box-shop-info dxjh-guide-show" p-id="797">
                <span class="shop-title" _ie_fix_="" mx-mouseenter="showShopInfo(938198529,1)" mx-mouseleave="hideShopInfo(938198529)"
                      p-id="798">
                    <span class="shop-hd" p-id="799">
                        <span class="pubfont icon-dianpu shop-icon" p-id="800"></span>
                        <a vclick-ignore="true" title="点击进入店铺推广详情页" href="/myunion.htm?#!/promo/self/shop_detail?userNumberId=938198529" data-spm-click="gostr=/alimama.11;locaid=dab027959"
                           target="_blank" p-id="801" data-spm-anchor-id="a219t.7900221/10.1998910419.117"><span p-id="803">{{item.shopTitle}}</span></a>
                    </span>
                    <div class="shop-bd" mx-vframe="true" p-id="804" id="mx_n_22"></div>
                </span><span class="tags-container fr" p-id="805"><!--deleted-806--><span class="tag tag-tmall mr10" title="天猫店铺" p-id="807"></span></span>
            </div>
        </div>
        
        <div class="loading">
            <img src="images/loading.gif"><span>正在加载...</span>
        </div>
        <div id="navigation"><a href="/user/get"></a></div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/angular.min.js" asp-append-version="true"></script>
        <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
        <script src="~/js/jquery.infinitescroll.min.js"></script>
        <script>

            $(document).ready(function () {
                $('#pageList:eq(1)').masonry({
                    itemSelector: '.block-search-box tag-wrap',
                    gutterWidth: 15,
                    columnWidth: 222,
                    isFitWidth: true
                });

                $('#pageList').infinitescroll({
                    navSelector: "#navigation", //导航的选择器，会被隐藏
                    nextSelector: "#navigation a", //包含下一页链接的选择器
                    itemSelector: ".block-search-box tag-wrap", //你将要取回的选项(内容块)
                    debug: true, //启用调试信息
                    animate: true, //当有新数据加载进来的时候，页面是否有动画效果，默认没有
                    extraScrollPx: 150, //滚动条距离底部多少像素的时候开始加载，默认150
                    bufferPx: 40, //载入信息的显示时间，时间越大，载入信息显示时间越短
                    errorCallback: function () {
                        alert('error');
                    }, //当出错的时候，比如404页面的时候执行的函数
                    localMode: true, //是否允许载入具有相同函数的页面，默认为false
                    dataType: 'json',//可以是json
                    template: function (data) {
                        //data表示服务端返回的json格式数据，这里需要把data转换成瀑布流块的html格式，然后返回给回到函数
                        console.log(data);
                        return '';
                    },
                    loading: {
                        msgText: "加载中...",
                        finishedMsg: '没有新数据了...',
                        selector: '.loading' // 显示loading信息的div
                    }
                }, function (newElems) {
                    //程序执行完的回调函数
                    alert('elems');
                    var $newElems = $(newElems);
                    $('#pageList:eq(1)').masonry('appended', $newElems);
                });

            });

var app = angular.module('alchemyApp', []);
app.controller('imageShowController', function ($scope, $http) {
    $scope.content = "can you see me?";
    $scope.productItems1 = [{
        tkSpecialCampaignIdRateMap: null,
        rootCatId: 0,
        eventCreatorId: 0,
        leafCatId: 50010850,
        debugInfo: null,
        rootCatScore: 0,
        sellerId: 938198529,
        userType: 1,
        auctionId: 526404708154,
        shopTitle: "埃伦旗舰店",
        biz30day: 3157,
        tkRate: 18.5,
        nick: "埃伦旗舰店",
        pictUrl: "http://img04.taobaocdn.com/bao/uploaded/i4/TB1sBV_LXXXXXb0XVXXXXXXXXXX_!!0-item_pic.jpg",
        title: "埃伦2016秋装新款印花蕾丝连衣裙欧美时尚圆领修身开叉系带连衣裙",
        includeDxjh: 0,
        reservePrice: 298,
        tkCommFee: 55.13,
        totalFee: 33405.9,
        totalNum: 1182,
        zkPrice: 298,
        auctionUrl: "http://item.taobao.com/item.htm?id=526404708154",
        dayLeft: -17062,
        tk3rdRate: null,
        rlRate: 0,
        hasRecommended: 0,
        hasSame: 0,
        sameItemPid: "-836788765",
        eventRate: null,
        hasUmpBonus: null,
        isBizActivity: null,
        umpBonus: null
    },
{
    rootCatId: 0,
    eventCreatorId: 44960738,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 800308693,
    userType: 1,
    auctionId: 534764084703,
    shopTitle: "fxmongyi旗舰店",
    biz30day: 92,
    tkRate: 12.5,
    nick: "fxmongyi旗舰店",
    pictUrl: "http://img03.taobaocdn.com/bao/uploaded/i3/TB16nbvKFXXXXcmaXXXXXXXXXXX_!!0-item_pic.jpg",
    title: "菲梦伊2016夏季新款个性潮印花连衣裙修身中长款包臀气质<span class=H>女装</span>8096",
    includeDxjh: 1,
    reservePrice: 455,
    tkCommFee: 39.75,
    totalFee: 4522.72,
    totalNum: 136,
    zkPrice: 318,
    auctionUrl: "http://item.taobao.com/item.htm?id=534764084703",
    dayLeft: 35,
    tk3rdRate: null,
    rlRate: 30.1,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1506654617",
    eventRate: 16.5,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 204150836,
    userType: 0,
    auctionId: 534887494807,
    shopTitle: "OPENLADY女侠店",
    biz30day: 95,
    tkRate: 15,
    nick: "open_女侠",
    pictUrl: "http://img01.taobaocdn.com/bao/uploaded/i1/204150836/TB2hIpEsFXXXXcaXpXXXXXXXXXX_!!204150836.jpg",
    title: "openlady韩版高腰开叉V领系带收腰纯色短袖连衣裙短裙子夏季<span class=H>女装</span>",
    includeDxjh: 1,
    reservePrice: 188,
    tkCommFee: 28.2,
    totalFee: 1161.46,
    totalNum: 35,
    zkPrice: 188,
    auctionUrl: "http://item.taobao.com/item.htm?id=534887494807",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 0,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1506469858",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 34069475,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 2069568072,
    userType: 1,
    auctionId: 536700178794,
    shopTitle: "衣舒阁旗舰店",
    biz30day: 5741,
    tkRate: 18.5,
    nick: "衣舒阁旗舰店",
    pictUrl: "http://img04.taobaocdn.com/bao/uploaded/i4/TB1R_sRLXXXXXXeXpXXXXXXXXXX_!!0-item_pic.jpg",
    title: "<span class=H>女装</span>秋装2016新款潮初秋季韩版名媛中袖a型针织连衣裙秋款 中长款",
    includeDxjh: 1,
    reservePrice: 258,
    tkCommFee: 31.08,
    totalFee: 14883.1,
    totalNum: 356,
    zkPrice: 168,
    auctionUrl: "http://item.taobao.com/item.htm?id=536700178794",
    dayLeft: 27,
    tk3rdRate: null,
    rlRate: 34.88,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1761500537",
    eventRate: 25.5,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 123216004,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 898571545,
    userType: 1,
    auctionId: 537220773676,
    shopTitle: "海青蓝旗舰店",
    biz30day: 1773,
    tkRate: 12.5,
    nick: "海青蓝旗舰店",
    pictUrl: "http://img04.taobaocdn.com/bao/uploaded/i4/TB1vyWrMVXXXXbsXpXXXXXXXXXX_!!0-item_pic.jpg",
    title: "海青蓝2016秋装新款纯色修身连衣裙两件套西装外套时尚套装女6201",
    includeDxjh: 1,
    reservePrice: 830,
    tkCommFee: 62.25,
    totalFee: 4989.28,
    totalNum: 104,
    zkPrice: 498,
    auctionUrl: "http://item.taobao.com/item.htm?id=537220773676",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 40,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1391894668",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 204150836,
    userType: 0,
    auctionId: 534958216799,
    shopTitle: "OPENLADY女侠店",
    biz30day: 80,
    tkRate: 15,
    nick: "open_女侠",
    pictUrl: "http://img04.taobaocdn.com/bao/uploaded/i4/204150836/TB2aL1YtVXXXXX9XXXXXXXXXXXX_!!204150836.jpg",
    title: "openlady宽松高腰显瘦交叉网格无袖背心连衣裙中裙子<span class=H>女装</span>夏季黑色",
    includeDxjh: 1,
    reservePrice: 199,
    tkCommFee: 29.85,
    totalFee: 1242.38,
    totalNum: 45,
    zkPrice: 199,
    auctionUrl: "http://item.taobao.com/item.htm?id=534958216799",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 0,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1424737097",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 2202422863,
    userType: 0,
    auctionId: 537240017388,
    shopTitle: "猫猫原创女装",
    biz30day: 8010,
    tkRate: 25,
    nick: "猫猫女装998",
    pictUrl: "http://image.taobao.com/bao/uploaded/i8/TB19L6eLpXXXXa3XVXXYXGcGpXX_M2.SS2",
    title: "2016新款<span class=H>女装</span>秋装韩版中长款套装连衣裙女大码长袖裙名媛气质长裙",
    includeDxjh: 1,
    reservePrice: 588,
    tkCommFee: 49.5,
    totalFee: 0,
    totalNum: 0,
    zkPrice: 198,
    auctionUrl: "http://item.taobao.com/item.htm?id=537240017388",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 66.32,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1307543021",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 471594703,
    userType: 0,
    auctionId: 534312114273,
    shopTitle: "bob定制高端女装",
    biz30day: 79,
    tkRate: 15,
    nick: "桐杭之恋",
    pictUrl: "http://img01.taobaocdn.com/bao/uploaded/i1/471594703/TB2ks0JtXXXXXclXpXXXXXXXXXX_!!471594703.jpg",
    title: "<span class=H>女装</span>夏装2016新款潮韩版短袖蕾丝连衣裙女夏季中长款修身雪纺裙子",
    includeDxjh: 1,
    reservePrice: 599,
    tkCommFee: 25.2,
    totalFee: 1663.98,
    totalNum: 77,
    zkPrice: 168,
    auctionUrl: "http://item.taobao.com/item.htm?id=534312114273",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 71.95,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-551932114",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 204150836,
    userType: 0,
    auctionId: 535283239698,
    shopTitle: "OPENLADY女侠店",
    biz30day: 74,
    tkRate: 15,
    nick: "open_女侠",
    pictUrl: "http://img04.taobaocdn.com/bao/uploaded/i4/204150836/TB2qaabsFXXXXb2XXXXXXXXXXXX_!!204150836.jpg",
    title: "openlady韩版高腰宽松假两件露背露肩拼色吊带连衣裙中裙子<span class=H>女装</span>夏",
    includeDxjh: 1,
    reservePrice: 158,
    tkCommFee: 23.7,
    totalFee: 408.38,
    totalNum: 22,
    zkPrice: 158,
    auctionUrl: "http://item.taobao.com/item.htm?id=535283239698",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 0,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1153482920",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    tkSpecialCampaignIdRateMap: null,
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 123216004,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 2844470210,
    userType: 0,
    auctionId: 534586713058,
    shopTitle: "右炫官方企业店",
    biz30day: 1295,
    tkRate: 15,
    nick: "youxuan右炫",
    pictUrl: "http://img02.taobaocdn.com/bao/uploaded/i2/2844470210/TB2PZAlrVXXXXayXpXXXXXXXXXX_!!2844470210.jpg",
    title: "2016夏新款职业装刘亦菲同款小西服套装女时尚气质<span class=H>女装</span>西装两件套",
    includeDxjh: 0,
    reservePrice: 609,
    tkCommFee: 49.35,
    totalFee: 598.86,
    totalNum: 31,
    zkPrice: 329,
    auctionUrl: "http://item.taobao.com/item.htm?id=534586713058",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 45.97,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-519247560",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 471594703,
    userType: 0,
    auctionId: 534312114273,
    shopTitle: "bob定制高端女装",
    biz30day: 79,
    tkRate: 15,
    nick: "桐杭之恋",
    pictUrl: "http://img01.taobaocdn.com/bao/uploaded/i1/471594703/TB2ks0JtXXXXXclXpXXXXXXXXXX_!!471594703.jpg",
    title: "<span class=H>女装</span>夏装2016新款潮韩版短袖蕾丝连衣裙女夏季中长款修身雪纺裙子",
    includeDxjh: 1,
    reservePrice: 599,
    tkCommFee: 25.2,
    totalFee: 1663.98,
    totalNum: 77,
    zkPrice: 168,
    auctionUrl: "http://item.taobao.com/item.htm?id=534312114273",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 71.95,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-551932114",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 204150836,
    userType: 0,
    auctionId: 535283239698,
    shopTitle: "OPENLADY女侠店",
    biz30day: 74,
    tkRate: 15,
    nick: "open_女侠",
    pictUrl: "http://img04.taobaocdn.com/bao/uploaded/i4/204150836/TB2qaabsFXXXXb2XXXXXXXXXXXX_!!204150836.jpg",
    title: "openlady韩版高腰宽松假两件露背露肩拼色吊带连衣裙中裙子<span class=H>女装</span>夏",
    includeDxjh: 1,
    reservePrice: 158,
    tkCommFee: 23.7,
    totalFee: 408.38,
    totalNum: 22,
    zkPrice: 158,
    auctionUrl: "http://item.taobao.com/item.htm?id=535283239698",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 0,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1153482920",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    tkSpecialCampaignIdRateMap: null,
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 123216004,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 2844470210,
    userType: 0,
    auctionId: 534586713058,
    shopTitle: "右炫官方企业店",
    biz30day: 1295,
    tkRate: 15,
    nick: "youxuan右炫",
    pictUrl: "http://img02.taobaocdn.com/bao/uploaded/i2/2844470210/TB2PZAlrVXXXXayXpXXXXXXXXXX_!!2844470210.jpg",
    title: "2016夏新款职业装刘亦菲同款小西服套装女时尚气质<span class=H>女装</span>西装两件套",
    includeDxjh: 0,
    reservePrice: 609,
    tkCommFee: 49.35,
    totalFee: 598.86,
    totalNum: 31,
    zkPrice: 329,
    auctionUrl: "http://item.taobao.com/item.htm?id=534586713058",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 45.97,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-519247560",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 44960738,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 800308693,
    userType: 1,
    auctionId: 534764084703,
    shopTitle: "fxmongyi旗舰店",
    biz30day: 92,
    tkRate: 12.5,
    nick: "fxmongyi旗舰店",
    pictUrl: "http://img03.taobaocdn.com/bao/uploaded/i3/TB16nbvKFXXXXcmaXXXXXXXXXXX_!!0-item_pic.jpg",
    title: "菲梦伊2016夏季新款个性潮印花连衣裙修身中长款包臀气质<span class=H>女装</span>8096",
    includeDxjh: 1,
    reservePrice: 455,
    tkCommFee: 39.75,
    totalFee: 4522.72,
    totalNum: 136,
    zkPrice: 318,
    auctionUrl: "http://item.taobao.com/item.htm?id=534764084703",
    dayLeft: 35,
    tk3rdRate: null,
    rlRate: 30.1,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1506654617",
    eventRate: 16.5,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
},
{
    rootCatId: 0,
    eventCreatorId: 0,
    leafCatId: 50010850,
    debugInfo: null,
    rootCatScore: 0,
    sellerId: 204150836,
    userType: 0,
    auctionId: 534887494807,
    shopTitle: "OPENLADY女侠店",
    biz30day: 95,
    tkRate: 15,
    nick: "open_女侠",
    pictUrl: "http://img01.taobaocdn.com/bao/uploaded/i1/204150836/TB2hIpEsFXXXXcaXpXXXXXXXXXX_!!204150836.jpg",
    title: "openlady韩版高腰开叉V领系带收腰纯色短袖连衣裙短裙子夏季<span class=H>女装</span>",
    includeDxjh: 1,
    reservePrice: 188,
    tkCommFee: 28.2,
    totalFee: 1161.46,
    totalNum: 35,
    zkPrice: 188,
    auctionUrl: "http://item.taobao.com/item.htm?id=534887494807",
    dayLeft: -17062,
    tk3rdRate: null,
    rlRate: 0,
    hasRecommended: 0,
    hasSame: 0,
    sameItemPid: "-1506469858",
    eventRate: null,
    hasUmpBonus: null,
    isBizActivity: null,
    umpBonus: null
}];

    //$http.get("data.json")
    //.success(function(response) {

    //console.log(response);
    //console.log(response.data.pageList);//[data/pageList]
    //$scope.productItems = response.data.pageList;
    //}).error(function(data,state){
    //    console.log(data);
    //    console.log(state);
    //});
});

/*模拟从后台获取到的数据*/
var sqlJson = [{ 'title': '瀑布流其实就是几个函数的事！', 'intro': '爆料，苏亚雷斯又咬人啦，C罗哪有内马尔帅，梅西今年要不夺冠，你就去泰国吧，老子买了阿根廷赢得彩票，输了就去不成了。', 'src': 'images/one.jpg', 'writer': 'jq22', 'date': '2小时前', 'looked': 321 }, { 'title': '瀑布流其实就是几个函数的事！', 'intro': '爆料了，苏亚雷斯又咬人啦，C罗哪有内马尔帅，梅西今年要不夺冠，你就去泰国吧，老子买了阿根廷赢得彩票，输了就去不成了。', 'src': 'images/demo2.jpg', 'writer': 'jq22', 'date': '2小时前', 'looked': 321 }, { 'title': '瀑布流其实就是几个函数的事！', 'intro': '爆料了，苏亚雷斯又咬人啦，C罗哪有内马尔帅，梅西今年要不夺冠，你就去泰国吧，老子买了阿根廷赢得彩票，输了就去不成了。', 'src': 'images/p1.jpg', 'writer': 'jq22', 'date': '2小时前', 'looked': 321 }, { 'title': '瀑布流其实就是几个函数的事！', 'intro': '爆料了，苏亚雷斯又咬人啦，C罗哪有内马尔帅，梅西今年要不夺冠，你就去泰国吧，老子买了阿根廷赢得彩票，输了就去不成了。', 'src': 'images/p1.jpg', 'writer': 'jq22', 'date': '2小时前', 'looked': 321 }];
/*本应该通过ajax从后台请求过来类似sqljson的数据然后，便利，进行填充，这里我们用sqlJson来模拟一下数据*/
$(window).scroll(function () {
    if (!loading.data("on")) return;
    // 计算所有瀑布流块中距离顶部最大，进而在滚动条滚动时，来进行ajax请求，方法很多这里只列举最简单一种，最易理解一种
    var itemNum = $('#waterfull').find('.item').length;
    var itemArr = [];
    itemArr[0] = $('#waterfull').find('.item').eq(itemNum - 1).offset().top + $('#waterfull').find('.item').eq(itemNum - 1)[0].offsetHeight;
    itemArr[1] = $('#waterfull').find('.item').eq(itemNum - 2).offset().top + $('#waterfull').find('.item').eq(itemNum - 1)[0].offsetHeight;
    itemArr[2] = $('#waterfull').find('.item').eq(itemNum - 3).offset().top + $('#waterfull').find('.item').eq(itemNum - 1)[0].offsetHeight;
    var maxTop = Math.max.apply(null, itemArr);
    if (maxTop < $(window).height() + $(document).scrollTop()) {
        //加载更多数据
        loading.data("on", false).fadeIn(800);
        (function (sqlJson) {
            /*这里会根据后台返回的数据来判断是否你进行分页或者数据加载完毕这里假设大于30就不在加载数据*/
            if (itemNum > 30) {
                loading.text('就有这么多了！');
            } else {
                var html = "";
                for (var i in sqlJson) {
                    html += "<li class='item'><a href='#' class='a-img'><img src='" + sqlJson[i].src + "'></a>";
                    html += "<h2 class='li-title'>" + sqlJson[i].title + "</h2>";
                    html += "<p class='description'>" + sqlJson[i].intro + "</p><div class='qianm clearfloat'>";
                    html += "<span class='sp1'><b>" + sqlJson[i].looked + "</b>浏览</span>";
                    html += "<span class='sp2'>" + sqlJson[i].writer + "</span><span class='sp3'>" + sqlJson[i].date + "&nbsp;By</span></div></li>";
                }
                /*模拟ajax请求数据时延时800毫秒*/
                var time = setTimeout(function () {
                    $(html).find('img').each(function (index) {
                        loadImage($(this).attr('src'));
                    })
                    var $newElems = $(html).css({ opacity: 0 }).appendTo(container);
                    $newElems.imagesLoaded(function () {
                        $newElems.animate({ opacity: 1 }, 800);
                        container.masonry('appended', $newElems, true);
                        loading.data("on", true).fadeOut();
                        clearTimeout(time);
                    });
                }, 800)
            }
        })(sqlJson);
    }
});
        </script>
    </div>
    
    
</div>