<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="淘宝优惠券,天猫优惠券,淘宝内部优惠券,优惠券领取,精选优质商品,淘宝客,美人鱼优惠券！">
    <meta name="description" content="每日汇集最全最新的天猫淘宝内部独家优惠券免费领取,精选特卖商品！">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - 美人鱼优惠券</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/datatables.min.css">
        <link rel="stylesheet" href="~/css/datatables.bootstrap.css">
        <link rel="stylesheet" href="~/css/components.min.css">
        <link rel="stylesheet" href="~/css/plugins.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="~/css/login.min.css">
        <link rel="stylesheet" href="~/css/layout.min.css">
        <link rel="stylesheet" href="~/css/default.min.css">
        @*<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/datatables.min.css">
        <link rel="stylesheet" href="~/css/datatables.bootstrap.css">
        <link rel="stylesheet" href="~/css/components.min.css">
        <link rel="stylesheet" href="~/css/plugins.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="~/css/login.min.css">
        <link rel="stylesheet" href="~/css/layout.min.css">
        <link rel="stylesheet" href="~/css/default.min.css">

        @*<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>*@
    </environment>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?9dee0467c04e77bd77f15b0b2d6378d1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body class="page-container-bg-solid page-boxed">
    <!-- BEGIN HEADER -->
    <div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top">
            <div class="container">
                <!-- BEGIN LOGO -->
                <div class="page-logo" style="width:120px;">
                    <a href="http://www.mylofter.com">
                        <img src="/logo.png" height="66" width="120" />
                    </a>
                </div>
                <div class="page-logo">
                    <a href="/home/index">
                        <h1>美人鱼优惠券</h1>
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->

                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        @using System.Security.Claims;
                        @if (User.Identities.Any(u => u.IsAuthenticated))
                        {
                            <!-- BEGIN TODO DROPDOWN -->
                            <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-screen-desktop"></i>
                                </a>
                            </li>
                            <li class="dropdown dropdown-user dropdown-dark" id="header_task_bar">
                                <a href="/user/index" class="dropdown-toggle" target="_blank">
                                    <span class="username username-hide-mobile">后台管理</span>
                                </a>
                            </li>
                            <!-- END TODO DROPDOWN -->
                                <li class="droddown dropdown-separator">
                                    <span class="separator"></span>
                                </li>
                            <!-- BEGIN INBOX DROPDOWN -->
                                <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="icon-user"></i>
                                    </a>
                                </li>
                            <!-- END INBOX DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                                <li class="dropdown dropdown-user dropdown-dark">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span class="username username-hide-mobile">
                                            欢迎登陆：
                                            @User.Identities.First(u => u.IsAuthenticated).FindFirst(ClaimTypes.Name).Value
                                        </span>
                                    </a>
                                </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                <li class="dropdown dropdown-extended quick-sidebar-toggler">
                                    <form asp-area="" asp-controller="User" asp-action="LoginOff" method="post" id="logoutForm" class="navbar-right">
                                        <button type="submit" style="list-style:none;">
                                            <span class="sr-only">Toggle Quick Sidebar</span>
                                            <i class="icon-logout"></i>
                                        </button>
                                    </form>
                                </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        }
                        else
                        {
                            <!--BEGIN LOGIN & REGISTER-->
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="/user/login" class="dropdown-toggle">
                                    <span class="username username-hide-mobile">
                                        商家推广入口
                                    </span>
                                </a>
                            </li>
                            @*<li class="dropdown dropdown-user dropdown-dark">
                                    <a href="/user/register" class="dropdown-toggle">
                                        <span class="username username-hide-mobile">
                                            免费注册
                                        </span>
                                    </a>
                                </li>*@
                            <!-- END LOGIN & REGISTER-->
                        }
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END HEADER TOP -->
        <!-- BEGIN HEADER MENU -->
        <div class="page-header-menu">
            <div class="container">
                <!-- BEGIN MEGA MENU -->
                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                <div class="hor-menu">
                    <ul class="nav navbar-nav">
                        <li class="menu-dropdown classic-menu-dropdown">
                            <a href="/home/index">
                                首页
                                <span class="arrow"></span>
                            </a>
                        </li>
                        <li class="menu-dropdown mega-menu-dropdown">
                            <a href="http://www.mylofter.com:81" target="_blank">
                                平行世界
                                <span class="arrow"></span>
                            </a>
                        </li>
                        <li class="menu-dropdown mega-menu-dropdown">
                            <a href="/spider">
                                淘宝数据采集
                                <span class="arrow"></span>
                            </a>
                        </li>
                        @*<li class="menu-dropdown mega-menu-dropdown">
                                <a href="/home/products">
                                    推荐宝贝
                                    <span class="arrow"></span>
                                </a>
                            </li>*@
                        <li class="menu-dropdown classic-menu-dropdown ">
                            <a href="/contactUs/index">
                                <i class="icon-briefcase"></i> 联系我们
                                <span class="arrow"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MEGA MENU -->
            </div>
        </div>
        <!-- END HEADER MENU -->
    </div>
    <!-- END HEADER -->
    <div class="container body-content" align="center" style="min-height:700px;">
        @RenderBody()
    </div>

    <div class="page-footer">
        <div class="container">
            2016 &copy; Alchemy by Mermaid Loft.
            <a href="http://www.mylofter.com">美人鱼优惠券</a>
            <a href="/user/login">商家推广入口</a>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
